<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Seu pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cakesSelected">
    <ion-card-header color="medium">
      <ion-card-title>Bolos escolhidos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
       <ion-item *ngFor="let product of products">
          <ion-label>
            <h1>{{product?.title}}</h1>
            <p>Preço: R${{product?.price}}</p>
          </ion-label>
        </ion-item>
        
        <div class="amount">
          <h1>Total</h1>
          <p>Preço: R${{amount}}</p>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="medium">
      <ion-card-title>Dados de entrega</ion-card-title>
    </ion-card-header>
    <form [formGroup]="form">
      <ion-item lines="full">
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="tel" formControlName="tel"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Endereço</ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="!form.valid" (click)="submit()">Confirmar Pedido!</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>
